<style>
  html, body { margin:0; padding:0; background-color:rgb(30,151,171); }
  h1 { color:white; font-family: Arial, Verdana, Tahoma; font-weight: normal; width: 60%; padding-left:0.5rem; }
  footer { color: white; font-family: sans-serif; font-size: 14px; display:flex; margin-top:1rem; }
  footer a { color: #ffe57f; text-decoration: none; }
  footer a:hover, footer a:focus { text-decoration: underline; }
</style>
<div style="margin:1rem;">
  <h1>
    Welcome to AWS Lambda!
  </h1>
  <a href="https://lamby.custominktech.com">
    <img src="https://user-images.githubusercontent.com/2381/59363668-89edeb80-8d03-11e9-9985-2ce14361b7e3.png" alt="Lamby: Simple Rails & AWS Lambda Integration using Rack." style="border-radius:10px;width:100%;" />
  </a>
  <footer>
    <div style="text-align:left; flex-grow:1;">
      Made with ❤️ by <a href="https://technology.customink.com">Custom Ink | Tech </a>
    </div>
    <br>
    <div style="text-align:right; flex-grow:1;">
      Powered by Lamby <a href="https://lamby.custominktech.com">[docs]</a>
    </div>
  </footer>
</div>
